<form #form="ngForm"
  (ngSubmit)="submitForm()">
  <label for="title">Title</label>
  <input id="title"
    name="title"
    [(ngModel)]="book.title"
    required />

  <label for="isbn">ISBN</label>
  <input name="isbn"
    id="isbn"
    [(ngModel)]="book.isbn"
    required
    minlength="10"
    maxlength="13" />

  <label for="author">Author</label>
  <input name="author"
    id="author"
    [(ngModel)]="book.authors[0]"
    required />

  <button type="submit"
    [disabled]="form.invalid">
    Save
  </button>
</form>
